<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap       = "test/bootstrap.php"
  colors          = "true"
  stopOnError     = "false"
  stopOnFailure   = "false"
  verbose         = "true"
  >

  <testsuites>
    <testsuite>
      <directory suffix="Test.php">test</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-text"   target="php://stdout" showUncoveredFiles="false"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-php"    target="build/coverage.cov"/>
    <log type="coverage-html"   target="build/coverage"
      charset="UTF-8" highlight="true" lowUpperBound="60" highLowerBound="90"/>
  </logging>

  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>

</phpunit>
